# Ignore Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
.env

# Logs
logs/*.csv
logs/*.xlsx

# Firebase service account secrets
firebase-service-account.json
*firebase-adminsdk-*.json
flood-ml-thptvvk-firebase-adminsdk-fbsvc-*.json

# OS files
.DS_Store
Thumbs.db
